.register{
    .container{
        width: 100vw;
        height: 100vh;
        background: linear-gradient(
            rgba(255, 255, 255, 0.5),
            rgba(255, 255, 255, 0.5)
          ),
          url("https://images.pexels.com/photos/2016145/pexels-photo-2016145.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
            center;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;

        .wrapper{
            width: 40%;
            padding: 40px;
            background-color: white;
        }

        h1{
            font-size: 24px;
            font-weight: 350;
        }

        form{
            display: flex;
            display: flex;
            flex-direction: column;

            .name{
                flex-wrap: wrap;

                input{
                    flex: 1;
                    min-width: 40%;
                    margin: 20px 10px 0px 0px;
                    padding: 10px;
                }
            }

            .password{
                flex-wrap: wrap;

                input{
                    flex: 1;
                    min-width: 40%;
                    margin: 20px 10px 0px 0px;
                    padding: 10px;
                }
            }

            .email{
                input{
                    flex: 1;
                    min-width: 85.5%;
                    margin: 20px 10px 0px 0px;
                    padding: 10px;
                }
            }

            

            span{
                font-size: 12px;
                margin: 20px 0px;
            }

            button{
                width: 40%;
                border: none;
                padding: 15px 20px;
                background-color: teal;
                color: white;
                cursor: pointer;
            }
        }
    }
}