.announcement{
    .container{
        height: 30px;
        background-color: #176B87;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        font-weight: 500;
    }
}